$color-brand: #444240;
$color-text: #1B1A17;
$color-text-transparent: #1B1A17D1;
$color-features: #D4B098;
$color-light: #FFFFFF;

$color-cultured: #F7F5EF;
$color-lotion: #FDFDFB;
$color-dust-storm-gradient: #E2D0C4;
$color-white-chocolate-gradient: #EAE3D4;
$color-dark-liver: #555248;
$color-dark-vanilla: #DFBBA7;
$color-middle-grey: #8B8371;
$color-desert-sand: #E6C8B4;

$content-width: 1171px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
