.promo {
    background: #FDFDFB;
    overflow: hidden;
}

.promo__wrapper {
    display: flex;
    justify-content: space-around;
    height: 775px;
}

.promo__text {
    position: relative;
    margin-left: 56px;
    margin-top: 14px;
    min-width: 400px;
    min-height: 300px;

    z-index: 1;

    &-wrapper {
        display: flex;
        align-items: center;
    }

    p {
        padding: 14px 0 42px 0;
        font-family: 'Roboto', sans-serif;
        line-height: 21px;
        color: $color-text-transparent;
        font-weight: 300;
    }
    
    &:before {
        content: "";
        position: absolute;
        width: 50px;
        height: 0px;
        border: 1px solid $color-middle-grey;
        top: 11%;
        left: -20%;
    }
}

.promo-watch {    
    display: inline-block;
    position: relative;
    top: 0px;
    margin-left: -36px;
    height: 804px;
    
    &__img {
        position: relative;
        margin-left: 40px;
        height: 100%;
        max-width: 502.63px;
        max-height: 804.25px;
        mix-blend-mode: normal;

        z-index: 2;
    }

    &__cost {
        @include fontPrata(16px);
        position: relative;
        top: -640px;
        left: -586px;

        z-index: 1;

        &:after {
            @include line();
        }
    }

    &__diameter {
        @include fontPrata(16px);
        display: block;
        position: relative;
        right: -506px;
        bottom: 162px;

        z-index: 1;

        &:after {
            @include line($left: -64px);
        }
    }

    &__back {    
        display: block;
        position: absolute;
        height: 944px;
        width: 944px;
        border-radius: 100%;
        background: linear-gradient(180deg, rgba(234, 227, 212, 0) 0%, #EAE3D4 100%);
        z-index: 0;
        top: -97px;
        left: -156px;

        &:after {
            content: "";
            display: block;
            position: inherit;
            left: 500px;
            width: 100%;
            height: 100%;
            background: #fff;

            z-index: 1;
        }
    }
}