.ico {
    display: inline-block;
}

.ico_logo {
    background-image: url("../assets/icons/logo_icon.svg");
    width: 19.19px;
    height: 19.21px;
}

.ico_logo_footer {
    background-image: url("../assets/icons/footer_logo.svg");
    width: 25px;
    height: 25px;
    margin-top: -5px;
}

.ico_search {
    background-image: url("../assets/icons/search_icon.svg");
    width: 16px;
    height: 16px;
}

.ico_heart {
    background-image: url("../assets/icons/heart_icon.svg");
    width: 21px;
    height: 17px;
}

.ico_cart {
    background-image: url("../assets/icons/cart_icon.svg");
    width: 18px;
    height: 16px;
}

.ico_instagram {
    background-image: url(../assets/icons/instagram_icon.svg);
    width: 23px;
    height: 23px;
}

.ico_facebook {
    background-image: url(../assets/icons/facebook_icon.svg);
    width: 12px;
    height: 21px;
}

.ico_twitter {
    background-image: url(../assets/icons/twitter_icon.svg);
    width: 22px;
    height: 17px;
}